<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="oferta3x2" class="es.uma.informatica.spring1.Oferta3x2">
		<constructor-arg index="0" value="Leche"/>
	</bean>
	
	<bean id="descuento20porciento" class="es.uma.informatica.spring1.Descuento20Porciento">
		<constructor-arg index="0" value="Atún"/>
	</bean>

	<bean id="calculador" class="es.uma.informatica.spring1.CalculadorOfertas">
		<constructor-arg index="0">
			<list>
				<ref bean="oferta3x2"/>
				<ref bean="descuento20porciento"/>
			</list>
		</constructor-arg>
	</bean>

	<bean id="leche" class="es.uma.informatica.spring1.domain.LineaFactura">
		<property name="producto">
			<bean class="es.uma.informatica.spring1.domain.Producto">
				<property name="nombre" value="Leche" />
				<property name="precio" value="1.5" />
			</bean>
		</property>
		<property name="cantidad" value="6" />
	</bean>

	<bean id="atun" class="es.uma.informatica.spring1.domain.LineaFactura">
		<property name="producto">
			<bean class="es.uma.informatica.spring1.domain.Producto">
				<property name="nombre" value="Atún" />
				<property name="precio" value="3.00"></property>
			</bean>
		</property>
		<property name="cantidad" value="6"/>
	</bean>

	<bean id="queso" class="es.uma.informatica.spring1.domain.LineaFactura">
		<property name="producto">
			<bean class="es.uma.informatica.spring1.domain.Producto">
				<property name="nombre" value="Queso" />
				<property name="precio" value="3.40" />
			</bean>
		</property>
		<property name="cantidad" value="2"/>
	</bean>
	
	<bean id="factura" class="es.uma.informatica.spring1.domain.Factura">
		<property name="lineas">
			<list>
				<ref bean="leche"/>
				<ref bean="atun"/>
				<ref bean="queso"/>
			</list>
		</property>
	</bean>

</beans>
